body{
background-color: #00c787;
display: flex;
justify-content : center;
}
.ControlPanel{
background-color: white;
width:300px;
padding:30px;
margin-top: 50px;
border-radius:20px;
}
.Text_Input{
display:flex;
border-radius: 25px;
overflow:hidden;
justify-content : center;
}
.TextInput{
flex: grow 1;
border: none;
background-color: #f0f4f8;
padding: 10px 15px;
outline: none;
border-radius: 25px;
overflow:hidden;
}
.Button{
background-color: #00c787;
border:none;
color: white;
padding:10px 15px;
cursor: pointer;
border-radius: 25px;
overflow:hidden;
}
.Lists{
    list-style-type: none;
    padding:10;
}
.Lists li {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}
.Lists label{
    flex-grow: 1;
}
.Checkbox{
    margin-right: 10px;
    cursor: pointer;
}
.Trash{
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.Trash:hover{
    opacity: 1;
}