body{
background-color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button {
width: 130px; 
height: 130px; 
border-radius: 50%;
font-size: 82px;
border:3px white;
border-width: 50px;
cursor: pointer;
background-color: #f2762e;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-left: 21px;
margin-right: 21px;
}
.Reset{
background-color: #4bbfbf;
font-size: 28px;
width: 200px; 
height: 50px; 
border-radius: 13px;
margin-left: 2px;
}
.AutoPlay{
background-color: #4bbfbf;
font-size: 28px;
width: 200px; 
height: 50px; 
border-radius: 13px;
margin-left: 2px;
}
.ScoreAndResult{
    color: white;
}
