body{
background-color: #f2ca50;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button {
width: 200px; 
height: 50px; 
border-radius: 18px;
font-size: 20px;
border: #0e0601;
cursor: pointer;
background-color: #f2762e;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
